<!DOCTYPE HTML5>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="vierport" content="width=device-wi_dth, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div>
      <img src=""></img>
      
    </div>
    <nav>
      <ul>
	<li><a>Teachers</a></li>
	<li><a>Students</a></li>
	<li><a>Parents</a></li>
	<li><a>Attendance</a></li>
	<li><a>Class</a></li>
	<li><a>Notifications</a></li>
	<li><a>Records</a></li>
	<li><a>Messages</a></li>
	<li><a>Payments</a></li>
  </body>
</html>
